.mainContainer .panel{
	float: left;
	margin-right: 5px;
	border: 1px solid gray;
	min-height: 520px;
}

.mainContainer .memeContainer{
	width:200px;
	
}
.mainContainer .toolsContainer{
	width:200px;
	
}
.mainContainer .canvasContainer{
	width:560px;
}

.drawingTools{
	min-height: 30px;
	padding: 5px;
}

.canvasArea{
	height: 460px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.searchPanel{
	border-bottom: 1px solid black;
	overflow: auto;
}
.searchOptions{
	padding: 5px;
	padding-bottom: 0px;
	float: left;
	width: 155px;
}
.searchOptions input{
	width:155px;
}
.searchOptions select.categories{
	width:165px;
}
.searchLoading{
	float: right;
	padding-top: 26px;
	padding-right: 5px;
}
.loadingGif{
	display: none;
}
.memeContainer .memeList{
	overflow: auto;
	height: 440px;
}
.memeImage{
	width: 77px;
	height: 77px;
	margin-left: 13px;
	margin-top: 10px;
	z-index: 100;
}
.note{
	color: gray;
}
.tinyButtons{
	padding: 1px;
}
.layesTable .selected td{
	background: #EEE;
}
.layesTable th:first-child{
	width: 160px;
}
